*{
	font-size: 0;
}

/* We decorate Main menu */

#main-menu{
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	justify-content:center;
	vertical-align: middle;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	/* border: 1px black solid; */
}

#main-menu-img{
	height: 5vh;
	padding: 10px 0;
}

.main-menu-img{
	height: 100%;
}

.main-menu{
	align-self: center;
	margin: 0 3%;
	color: black;
	
}

/* ------------------------------------------------------ */
/* We decorate section No. 1 */
/* Screen 1 */
#section1{
	display: inline-block;
	position: fixed;
	margin-top: 5vh;
	width: 100vw;
}

#fon-section1{
	width: 100%;
	height: 50vh;
}

#fon-section1 img{ 
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#section1-tytle{
	display: block;
	position: absolute;
	margin: 0 auto;
	top: 25%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
	font-family: 'Lobster', sans-serif;
	font-size: 4vw;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;;
}
/* ------------------------------------------------------ */
/* We decorate section No. Trick */
#trick{
	display: inline-block;
	position: relative;
	width: 100px;
	height: 55vh;
}
/* ------------------------------------------------------ */
/* We decorate section No. 2 */
#section2{
	display: inline-block;
	position: relative;
	width: 100vw;
	background-color: rgb(252, 252, 161);
}

#section2 p{
	display: inline-block;
	margin: 50px 0;
	padding: 0 100px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

/* ------------------------------------------------------ */
/* We decorate section No. 3 */
#sectio3{
	display: inline-block;
	position: relative;
	width: 100vw;
	background-color: white;
	/* border: 1px solid black; */
}

#sectio3>header>p{
	margin: 50px auto;
	width: 60%;
	background-color: white;
	font-family: 'Lobster', sans-serif;
	font-size: 4vw;
	text-align: center;
}

#gallery{
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.gallery-block{
	margin: 20px;
}
.gallery-image{
	display: inline-flex;
	width: 400xp;
	height: 300px;
}

.gallery-image>img{
	object-fit: cover;
}

.gallery-block p{
	font-family: 'Montserrat', sans-serif;
	margin: 0;

}
/* We decorate right boubles block */
#bubbles-blok1{
	display: block;
	position: relative;
	/* border: 1px solid black; */
}

#bubble-1-1{
	left: 37px;
	top:0;
}

#bubble-1-2{
	left: 0px;
	top: 54px;
}

#bubble-1-3{
	left: 31px;
	top: 104px;
}

#bubble-1-4{
	left: 4px;
	top: 154px;
}

/* ------------------------------------------------------ */
/* Set boubles size and color */
.bubble{
	position: absolute;
	border-radius: 50%;
	background-color: rgb(48, 105, 155);
	/* border: 1px solid black; */
}

.bubble-1{
	width: 55px;
	height: 55px;
}

.bubble-2{
	width: 31px;
	height: 31px;
}

.bubble-3{
	width: 32px;
	height: 32px;
}

.bubble-4{
	width: 28px;
	height: 28px;
}


/* 17px font */
.main-menu, .bubble, .gallery-block p{
	font-size: 17px;
}

.Text_regular{
	font-size: 20px;
}



.z-index0{
	z-index: 0;
}

.z-index1{
	z-index: 1;
}

.z-index2{
	z-index: 2;
}